* {
    bg0:                     #1F1F28ff;
    bg1:              	#00000000;
    bg2:                 #16161Dff;
    bg3:                 #2A2A37;
    fg0:                     #DCD7BAB3;
    fg1:                      #C8C093; 	
    fg2:			            	#16161DFF;
    fg3:                  #54546D;
}
@import "kanagawa-core.rasi"

